.comments-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}
.info-container{
    width: 35%;
    border: 1px solid #ccc;
    background: #f1f1f1;
    padding: 10px;
}
.comment {
    width: 20%;
    border: 1px solid #ccc;
    padding: 10px;
    background: #f1f1f1;
    border-radius: 8px;
}
