.container label{
    display: block;
}
.container{
    width: 60%;
    height: 80%;
    background-color: #f1eeee;
    display: flex;
    justify-content: flex-start;
    padding-left: 35px;
    padding-top: 50px;
}
.container h2{
    padding-bottom: 25px;
}
.containerName-Value{
margin-bottom: 25px;
}
.containerName-Value input{
    width: 426px;
    height: 25px;
}
.container button{
    margin-left: 25px;
}
.containerOfList button{
    display: flex;
    /*justify-content: flex-start;*/
    /*flex-direction: column;*/
    margin-bottom: 150px;
}