.form-container label{
    display: block;
}
.form-container{
    width: 80%;
    height: 90%;
    background-color: #f1eeee;
    display: flex;
    justify-content: flex-start;
    padding-left: 35px;
    padding-top: 50px;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
}
.form-container h2{
    padding-bottom: 25px;
}
.containerName-Value{
margin-bottom: 25px;
}
.form-container button{
    margin-left: 25px;
}