.containerName-Value label{
    display: block;
}
.containerOfList label{
    display: block;
}
.btn-div{
    display: flex;
    flex-direction: column;
}
.form-container{
    width: 80%;
    height: 90%;
    background-color: #f1eeee;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
}
.containerName-Value{
}
#pair-List{
    height: 45%
}