.container label{
    display: block;
}
.container{
    width: 60%;
    height: 80%;
    background-color: #f1eeee;
    display: flex;
    justify-content: space-between;
    padding: 50px 35px;
}
.container h2{
    padding-bottom: 25px;
}
.input-section{
margin-bottom: 25px;
}
.input-section input{
    width: 426px;
    height: 25px;
}
.container button{
    margin-left: 25px;
}
.containerOfList button{
    margin-bottom: 150px;
}