*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgba(66, 112, 165, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------stylization to container--------*/
.container{
    background-color: #f3f2f2;
    width: 50%;
    height: 80%;
    padding: 50px 100px 40px 30px;
}
.container h2{
    margin-bottom: 25px;
    font-size: 35px;
    color: #393838;
}
.container label{
    display: block;
}
.input-section{
    margin-bottom: 15px;
    font-size: 18px;
}
.lower-section{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.lower-section textarea{
    width: 421px;
    height: 353px;
}
.buttons-group{
    display: flex;
    flex-direction: column;
    /*margin-right: 50px;*/
}