*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgba(66, 112, 165, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------stylization to container--------*/
.container{
    background-color: #f3f2f2;
    width: 50%;
    height: 80%;
}
.container label{
    display: block;
}