@media (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
        padding: 30px 40px;
    }

    .input-section,
    .lower-section {
        flex-direction: column;
        align-items: stretch;
    }

    .input-section input,
    .lower-section textarea {
        width: 100%;
    }

    .buttons-group {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .container button {
        font-size: 13px;
        padding: 6px 10px;
        margin: 8px 5px;
        flex: 1 1 auto;
    }
}