@media screen and (min-width: 0) and (max-width: 480px) {
    .container{
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 5px;
        margin: 0;
    }
    .form{
        margin: 0;
    }
    h2{
        text-align: center;
        font-size: 28px;
    }
    .first-input,
    .containerOfList{
        flex-direction: column;
        align-items: stretch;
    }
    .first-input input,
    .containerOfList textarea{
        width: 100%;
    }
    .containerOfList textarea{
        height: 150px;
    }
    .btn-group{
        width: 100%;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
    }
    .form button {
        width: 100%;
        font-size: 14px;
        padding: 10px;
        margin: 0;
        height: 35px;
    }

}