@media screen and (min-width: 481px) and (max-width: 768px) {
    .container{
        width: 100%;
        height: 100%;
    }
    .form{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 20px;
    }
    h2{
        text-align: center;
        font-size: 35px;
    }
    .first-input,
    .containerOfList{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
    .first-input input,
    .containerOfList textarea{
        width: 100%;
    }
    .containerOfList textarea{
        height: 150px;
    }
    #btn-add{
        margin-top: 5px
    }
    #lower-btn{
        width: 30%;

    }
    .form button {
        width: 100%;
        font-size: 14px;
        margin: 0;
        height: 35px;
    }



}