*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgba(66, 112, 165, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #f4f2f2;
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
}
.form{
    margin: 30px 30px;
}
.container label{
    display: block;
    color: #373737;
    font-size: 14px;
}
.form h2{
    margin-bottom: 20px;'
    color: #373737;
}
.first-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.containerOfList{
    display: flex;
    justify-content: space-between;
}
.list-section textarea{
    width: 350px;
    height: 220px;
}
.first-input input{
    width: 350px;
    height: 25px;
}
.btn-group{
    display: flex;
    flex-direction: column;
}