*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgba(66, 112, 165, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #f4f2f2;
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
}
.form{
    width: 100%;
    margin: 30px 30px;
}
.container label{
    display: block;
    color: #373737;
    font-size: 14px;
}
.form h2{
    margin-bottom: 20px;'
    color: #373737;
}
.first-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.containerOfList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-section textarea{
    width: 350px;
    height: 220px;
}
.first-input input{
    width: 350px;
    height: 25px;
}
.first-input button{
    margin-top: 17px;
}
.btn-group{
    display: flex;
    flex-direction: column;
    gap: 15px;
    }
.form button{
    background: linear-gradient(to bottom, #e0e0e0, #cfcfcf);
    border: 1px solid #999;
    border-radius: 4px;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 6px 12px;
    text-align: center;
    box-shadow: inset 0 1px 0 #fff, 0 1px 2px rgba(0,0,0,0.1);
    cursor: pointer;
    margin-top: 18px;
}