*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
#container{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.userInfo{
    width: 35%;
    height: 30%;
    border: 2px solid #c8c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #292828;
    gap: 15px;
    flex-direction: column;
}
.userInfo .btn{
    width: 200px;
    height: 25px;
    color: #3c3a3a;
    border-radius: 10px;
    border: #373737 1px solid;
}